<!DOCTYPE html>
<html>
<head>
    <title>Flask Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>My Flask Store</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('products') }}">Products</a> |
            <a href="{{ url_for('categories') }}">Categories</a> |
            <a href="{{ url_for('customers') }}">Customers</a> |
            <a href="{{ url_for('orders_list') }}">Orders</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
